<?xml version="1.0" encoding="utf-8"?>
<!--~
  ~ @package   admintools
  ~ @copyright Copyright (c)2010-2023 Nicholas K. Dionysopoulos / Akeeba Ltd
  ~ @license   GNU General Public License version 3, or later
  -->
<config>
    <inlinehelp button="show"/>
    <fieldset
            name="backend"
            label="COM_ADMINTOOLS_JCONFIG_BACKEND_LABEL"
            description="COM_ADMINTOOLS_JCONFIG_BACKEND_DESC"
    >
        <field name="showstats"
               type="radio"
               label="COM_ADMINTOOLS_JCONFIG_SHOWSTATS_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_SHOWSTATS_DESC"
               default="1"
               layout="joomla.form.field.radio.switcher"
        >
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>

        <field name="reorderplugin"
               type="radio"
               label="COM_ADMINTOOLS_JCONFIG_REORDERPLUGIN_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_REORDERPLUGIN_DESC"
               default="1"
               layout="joomla.form.field.radio.switcher"
        >
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>

        <field name="serverconfigwarn"
               type="radio"
               label="COM_ADMINTOOLS_JCONFIG_SERVERCONFIGWARN_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_SERVERCONFIGWARN_DESC"
               default="1"
               layout="joomla.form.field.radio.switcher"
        >
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>

        <field name="stats_enabled"
               type="radio"
               label="COM_ADMINTOOLS_JCONFIG_USAGESTATS_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_USAGESTATS_DESC"
               default="1"
               layout="joomla.form.field.radio.switcher"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>

    <fieldset
            name="email"
            label="COM_ADMINTOOLS_JCONFIG_EMAIL_LABEL"
            description="COM_ADMINTOOLS_JCONFIG_EMAIL_DESC"
    >
        <field name="email_timezone"
               type="timezone"
               label="COM_ADMINTOOLS_JCONFIG_EMAILTIMEZONE_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_EMAILTIMEZONE_DESC"
               default="GMT"
               showon="frontend_enable:1"
        >
            <option value="AKEEBA/DEFAULT">COM_ADMINTOOLS_JCONFIG_EMAILTIMEZONE_DEFAULT</option>
            <option value="GMT">GMT</option>
        </field>

        <field name="email_throttle"
               type="radio"
               label="COM_ADMINTOOLS_JCONFIG_THROTTLE_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_THROTTLE_DESC"
               default="0"
               layout="joomla.form.field.radio.switcher"
        >
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>

        <field name="email_num"
               type="number"
               label="COM_ADMINTOOLS_JCONFIG_EMAIL_NUM_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_EMAIL_NUM_DESC"
               default="5"
               size="30"
               min="1"
               max="10000"
               step="1"
        />

        <field name="email_numfreq"
               type="number"
               label="COM_ADMINTOOLS_JCONFIG_EMAIL_NUMFREQ_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_EMAIL_NUMFREQ_DESC"
               default="15"
               size="30"
               min="1"
               max="86400"
               step="1"
        />

        <field name="email_freq"
               type="list"
               label="COM_ADMINTOOLS_JCONFIG_EMAIL_FREQ_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_EMAIL_FREQ_DESC"
               default="minutes"
        >
            <option value="seconds">COM_ADMINTOOLS_JCONFIG_EMAIL_FREQ_SECONDS</option>
            <option value="minutes">COM_ADMINTOOLS_JCONFIG_EMAIL_FREQ_MINUTES</option>
            <option value="hours">COM_ADMINTOOLS_JCONFIG_EMAIL_FREQ_HOURS</option>
            <option value="days">COM_ADMINTOOLS_JCONFIG_EMAIL_FREQ_DAYS</option>
        </field>

    </fieldset>

    <fieldset
            name="scan"
            label="COM_ADMINTOOLS_JCONFIG_SCAN_LABEL"
            description="COM_ADMINTOOLS_JCONFIG_SCAN_DESC"
    >
        <field name="frontend_enable"
               type="radio"
               label="COM_ADMINTOOLS_JCONFIG_FEBENABLE_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_FEBENABLE_DESC"
               default="0"
               layout="joomla.form.field.radio.switcher"
        >
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>

        <field name="frontend_secret_word"
               type="text"
               label="COM_ADMINTOOLS_JCONFIG_SECRETWORD_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_SECRETWORD_DESC"
               default=""
               size="30"
               showon="frontend_enable:1"
        />

        <field name="scanemail"
               type="text"
               label="COM_ADMINTOOLS_JCONFIG_SCANEMAIL_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_SCANEMAIL_DESC"
               default=""
               size="30"
        />

        <field name="scan_conditional_email"
               type="radio"
               label="COM_ADMINTOOLS_JCONFIG_SCAN_CONDITIONAL_EMAIL_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_SCAN_CONDITIONAL_EMAIL_DESC"
               default="1"
               layout="joomla.form.field.radio.switcher"
        >
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>

        <field name="logLevel"
               type="list"
               label="COM_ADMINTOOLS_JCONFIG_LOGLEVEL_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_LOGLEVEL_DESC"
               default="4"
        >
            <option value="0">COM_ADMINTOOLS_JCONFIG_LOGLEVEL_NONE</option>
            <option value="1">COM_ADMINTOOLS_JCONFIG_LOGLEVEL_ERROR</option>
            <option value="2">COM_ADMINTOOLS_JCONFIG_LOGLEVEL_WARNING</option>
            <option value="3">COM_ADMINTOOLS_JCONFIG_LOGLEVEL_INFO</option>
            <option value="4">COM_ADMINTOOLS_JCONFIG_LOGLEVEL_DEBUG</option>
        </field>

        <field name="minExec"
               type="number"
               label="COM_ADMINTOOLS_JCONFIG_MINEXEC_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_MINEXEC_DESC"
               default="2"
               size="30"
               min="0"
               max="30"
               step="0.5"
        />

        <field name="maxExec"
               type="number"
               label="COM_ADMINTOOLS_JCONFIG_MAXEXEC_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_MAXEXEC_DESC"
               default="5"
               size="30"
               min="0"
               max="30"
               step="0.5"
        />

        <field name="runtimeBias"
               type="number"
               label="COM_ADMINTOOLS_JCONFIG_RUNTIMEBIAS_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_RUNTIMEBIAS_DESC"
               default="75"
               size="30"
               min="50"
               max="100"
               step="1"
        />

        <field name="dirThreshold"
               type="number"
               label="COM_ADMINTOOLS_JCONFIG_DIRTHRESHOLD_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_DIRTHRESHOLD_DESC"
               default="50"
               size="30"
               min="25"
               max="1000"
               step="25"
        />

        <field name="fileThreshold"
               type="number"
               label="COM_ADMINTOOLS_JCONFIG_FILETHRESHOLD_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_FILETHRESHOLD_DESC"
               default="100"
               size="30"
               min="25"
               max="1000"
               step="25"
        />

        <field name="directoryFilters"
               type="textarea"
               label="COM_ADMINTOOLS_JCONFIG_DIRECTORYFILTERS_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_DIRECTORYFILTERS_DESC"
               rows="5"
               columns="80"
               default=""
               class="input-large"
        />

        <field name="fileFilters"
               type="textarea"
               label="COM_ADMINTOOLS_JCONFIG_FILEFILTERS_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_FILEFILTERS_DESC"
               default=""
               rows="5"
               columns="80"
        />

        <field name="scanExtensions"
               type="text"
               label="COM_ADMINTOOLS_JCONFIG_SCANEXTENSIONS_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_SCANEXTENSIONS_DESC"
               default="php, phps, phtml, php3, inc"
               size="50"
        />

        <field name="largeFileThreshold"
               type="number"
               label="COM_ADMINTOOLS_JCONFIG_LARGEFILETHRESHOLD_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_LARGEFILETHRESHOLD_DESC"
               default="524288"
               size="30"
               min="131072"
               max="26214400"
               step="131072"
        />

        <field name="scandiffs"
               type="radio"
               label="COM_ADMINTOOLS_JCONFIG_SCANDIFF_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_SCANDIFF_DESC"
               default="0"
               layout="joomla.form.field.radio.switcher"
        >
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>

        <field name="scanignorenonthreats"
               type="radio"
               label="COM_ADMINTOOLS_JCONFIG_SCANIGNORENONTHREATS_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_SCANIGNORENONTHREATS_DESC"
               default="0"
               layout="joomla.form.field.radio.switcher"
        >
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>

        <field name="oversizeFileThreshold"
               type="number"
               label="COM_ADMINTOOLS_JCONFIG_OVERSIZEFILETHRESHOLD_LABEL"
               description="COM_ADMINTOOLS_JCONFIG_OVERSIZEFILETHRESHOLD_DESC"
               default="5242880"
               size="30"
               min="524288"
               max="52428800"
               step="524288"
        />
    </fieldset>

    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >

        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                class="inputbox"
                filter="rules"
                component="com_admintools"
                section="component"/>
    </fieldset>
</config>
