.sidescriptButton{background:url(../images/openbutton_top.png) no-repeat;width:128px;height:35px;left:100px;position:fixed;top:0px;z-index:750;}
.SideScriptArrowPos{background-image:url(../images/icons.png);background-repeat:no-repeat;background-position:-9px 0;height:9px;width:16px;position: absolute;left:35px;top:-13px;}
